/* ==== Accent colors ==== */

@media -moz-pref("natsumi.theme.accent-color", "rosewater") {
  * {
    --natsumi-custom-primary-color: #f5e0dc;
  }
}

@media -moz-pref("natsumi.theme.accent-color", "flamingo") {
  * {
    --natsumi-custom-primary-color: #f2cdcd;
  }
}

@media -moz-pref("natsumi.theme.accent-color", "pink") {
  * {
    --natsumi-custom-primary-color: #f5c2e7;
  }
}

@media -moz-pref("natsumi.theme.accent-color", "mauve") {
  * {
    --natsumi-custom-primary-color: #cba6f7;
  }
}

@media -moz-pref("natsumi.theme.accent-color", "red") {
  * {
    --natsumi-custom-primary-color: #f38ba8;
  }
}

@media -moz-pref("natsumi.theme.accent-color", "maroon") {
  * {
    --natsumi-custom-primary-color: #eba0ac;
  }
}

@media -moz-pref("natsumi.theme.accent-color", "peach") {
  * {
    --natsumi-custom-primary-color: #fab387;
  }
}

@media -moz-pref("natsumi.theme.accent-color", "yellow") {
  * {
    --natsumi-custom-primary-color: #f9e2af;
  }
}

@media -moz-pref("natsumi.theme.accent-color", "green") {
  * {
    --natsumi-custom-primary-color: #a6e3a1;
  }
}

@media -moz-pref("natsumi.theme.accent-color", "teal") {
  * {
    --natsumi-custom-primary-color: #94e2d5;
  }
}

@media -moz-pref("natsumi.theme.accent-color", "sky") {
  * {
    --natsumi-custom-primary-color: #89dceb;
  }
}

@media -moz-pref("natsumi.theme.accent-color", "sapphire") {
  * {
    --natsumi-custom-primary-color: #74c7ec;
  }
}

@media -moz-pref("natsumi.theme.accent-color", "blue") {
  * {
    --natsumi-custom-primary-color: #89b4fa;
  }
}

@media -moz-pref("natsumi.theme.accent-color", "lavender") {
  * {
    --natsumi-custom-primary-color: #b4befe;
  }
}
