/* soulmate tabs */

@media -moz-pref("natsumi.tabs.use-custom-type") and -moz-pref("natsumi.tabs.type", "soulmate") {
  #tabbrowser-arrowscrollbox {
    /*noinspection CssInvalidFunction*/
    .tabbrowser-tab {
      --natsumi-tab-highlight-color: var(--natsumi-accent-color);
      --natsumi-tab-idle-width: 0;
      --natsumi-tab-idle-opacity: 0;

      &[usercontextid] {
        --natsumi-tab-highlight-color: var(--natsumi-accent-color);
        --natsumi-tab-idle-width: 40%;
        --natsumi-tab-idle-opacity: 1;
      }

      @media -moz-pref("sidebar.verticalTabs") {
        padding: 0 !important;
      }

      @media -moz-pref("sidebar.verticalTabs") {
        .tab-group-line {
          display: none !important;
        }
      }

      .tab-loading-burst[bursting]::before {
        fill: light-dark(
          var(--natsumi-colors-primary),
          var(--natsumi-primary-color)
        ) !important;
      }

      &:has(.tab-close-button:hover) {
        transition: opacity 0.2s ease !important;
        --natsumi-tab-highlight-color: rgb(243, 139, 168);
      }

      & > .tab-stack > .tab-background {
        backdrop-filter: saturate(1) contrast(1);
        transition:
          background-color 0.2s ease,
          backdrop-filter 0.2s ease !important;
        outline: none !important;
        border-radius: var(--natsumi-tab-border-radius) !important;
        overflow: visible !important;
        --natsumi-tab-height: var(
          --floorp-tab-min-height,
          var(--tab-min-height)
        );

        .tab-context-line {
          display: none !important;
        }

        &::after {
          position: absolute;
          opacity: var(--natsumi-tab-idle-opacity);
          mask-image: linear-gradient(to right, black, transparent 50%);
          transition:
            width 0.2s ease,
            opacity 0.2s ease,
            background-color 0.2s ease,
            border 0.2s ease;
          border: 2px solid var(--natsumi-tab-highlight-color) !important;
          border-radius: calc(var(--natsumi-tab-border-radius) - 1px);
          background: color-mix(
            in srgb,
            var(--natsumi-tab-highlight-color) 15%,
            transparent
          );
          width: var(--natsumi-tab-idle-width);
          height: calc(var(--natsumi-tab-height) - 4px);
          content: "";

          @media -moz-pref("sidebar.verticalTabs") {
            left: 0;
          }
        }
      }

      &:hover {
        & > .tab-stack > .tab-background {
          &::after {
            opacity: 1;
            width: calc(100% - calc(var(--tab-inner-inline-margin) * 2));
          }
        }
      }

      &[selected],
      &[visuallyselected] {
        /*noinspection CssInvalidFunction*/
        & > .tab-stack > .tab-background {
          animation: backdrop-fadein 0.2s ease;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) !important;
          background-color: rgb(30, 30, 46) !important;

          @media -moz-pref("natsumi.sidebar.blur-tab-button") {
            animation: backdrop-with-blur-fadein 0.2s ease;
          }

          animation-fill-mode: forwards;

          &::after {
            opacity: 1;
            width: calc(100% - calc(var(--tab-inner-inline-margin) * 2));
          }
        }
      }

      &[multiselected] {
        & > .tab-stack > .tab-background {
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5) !important;

          &::after {
            opacity: 1;
            width: 100%;
          }
        }
      }

      &:has(.tab-close-button:active) {
        opacity: 0.5;
      }
    }
  }

  /* Pinned tabs */
  #pinned-tabs-container,
  #vertical-pinned-tabs-container {
    --tab-height-with-margin-padding: calc(
      41px + (2 * var(--tab-block-margin))
    );

    .tab-background {
      border-radius: var(--natsumi-tab-border-radius) !important;
    }

    .tabbrowser-tab {
      .tab-stack {
        transition: scale 0.2s ease;
      }

      &:active:not([style*="transform"]) .tab-stack {
        scale: 0.95 !important;
      }
    }

    @media not -moz-pref("natsumi.tabs.disable-pinned-tabs-favicon") {
      .tab-background::before {
        top: 50% !important;
        left: 50% !important;
        translate: -50% -50% !important;
        opacity: 0;
        transition: opacity 0.2s ease !important;
        width: 200% !important;
        height: 200% !important;
        content: "";
      }

      .tab-background::after {
        transition: background-color 0.2s ease;
        background-color: transparent;
      }

      .tabbrowser-tab[selected][style*="--natsumi-tab-icon"] {
        .tab-background {
          position: relative !important;
          background: transparent !important;
          overflow: clip !important;
        }

        .tab-background::before {
          position: absolute;
          opacity: 1;
          filter: blur(20px) saturate(200%);
          border-radius: var(--natsumi-tab-border-radius);
          background-image: var(--natsumi-tab-icon);
          background-position: center;
          background-size: contain !important;
          background-clip: padding-box !important;
        }

        .tab-background::after {
          position: absolute;
          margin-top: 2px !important;
          margin-right: 2px !important;
          border-radius: calc(var(--natsumi-tab-border-radius) - 2px);
          background: var(--natsumi-mat-hz-background);
          width: calc(100% - 4px);
          height: calc(100% - 4px);
          content: "";

          @media not -moz-pref("sidebar.verticalTabs") {
            margin-left: 2px !important;
          }
        }
      }
    }
  }

  #tabbrowser-tabs[expanded] {
    #pinned-tabs-container,
    #vertical-pinned-tabs-container {
      --tab-height-with-margin-padding: calc(
        45px + (2 * var(--tab-block-margin))
      );
    }
  }

  /* Close button */
  #tabbrowser-tabs[expanded] #tabbrowser-arrowscrollbox {
    .tabbrowser-tab .tab-close-button {
      transition: color 0.2s ease !important;
      color: rgb(69, 71, 90) !important;

      &:hover {
        background-color: transparent !important;
        color: rgb(243, 139, 168) !important;
      }
    }
  }
}
