/* ==== Extension and URL Bar Icon Tweaks ==== */

@media -moz-pref("soulmate.toolbar.hide-back-forward") {
  /* Hide back and forward buttons */
  :root:not([customizing]) #back-button {
    display: none !important;
  }

  :root:not([customizing]) #forward-button {
    display: none !important;
  }
}

/* Hide some urlbar icons */
@media -moz-pref("soulmate.toolbar.hide-site-permissions") {
  #identity-box,
  #tracking-protection-icon-container,
  #permissions-granted-icon {
    display: none !important;
  }
}

@media -moz-pref("soulmate.toolbar.hide-taskbar-tabs") {
  #taskbar-tabs-button {
    display: none !important;
  }
}

@media -moz-pref("soulmate.toolbar.hide-bookmark") {
  #star-button-box {
    display: none !important;
  }
}

/* Extension icons */
@media -moz-pref("soulmate.toolbar.grayscale-extensions") .webextension-browser-action .toolbarbutton-icon,
  .webextension-page-action .toolbarbutton-icon {
  filter: grayscale(100%) brightness(0.8) contrast(1.1);
  transition: filter 0.3s ease;
}

.webextension-browser-action:hover .toolbarbutton-icon,
.webextension-page-action:hover .toolbarbutton-icon {
  filter: none;
}
