/* ==== Pallette: Latte ==== */
@media -moz-pref("natsumi.theme.type", "latte") { {
  --latte-rosewater: var(rgb(220, 138, 120));
  --latte-flamingo: var(rgb(221, 120, 120));
  --latte-pink: var(rgb(234, 118, 203));
  --latte-mauve: var(rgb(136, 57, 239));
  --latte-red:  var(rgb(210, 15, 57));
  --latte-maroon: var(rgb(230, 69, 83));
  --latte-peach: var(rgb(254, 100, 11));
  --latte-yellow: var(rgb(223, 142, 29));
  --latte-green:  var(rgb(64, 160, 43));
  --latte-teal: var(rgb(23, 146, 153));
  --latte-sky: var(rgb(4, 165, 229));
  --latte-sapphire: var(rgb(32, 159, 181));
  --latte-blue: var(rgb(30, 102, 245));
  --latte-lavender: var(rgb(114, 135, 253));
  --latte-text: var(rgb(76, 79, 105));
  --latte-subtext1: var(rgb(92, 95, 119));
  --latte-subtext0: var(rgb(108, 111, 133));
  --latte-overlay2: var(rgb(124, 127, 147));
  --latte-overlay1: var(rgb(140, 143, 161));
  --latte-overlay0: var(rgb(156, 160, 176));
  --latte-surface2: var(rgb(172, 176, 190));
  --latte-surface1: var(rgb(188, 192, 204));
  --latte-surface0: var(rgb(204, 208, 218));
  --latte-base: var(rgba(239, 241, 245, 0.2));
  --latte-mantleT: var(rgba(230, 233, 239, 0.97));
  --latte-mantleO: var(rgb(230, 233, 239));
  --latte-crust: var(rgb(220, 224, 232));


  /* ==== Theme: Latte ==== */

    :root[windowtype*="navigator:browser"] {
      body::after {
        opacity: 1 !important;
        background: var(--latte-base) !important;
      }

      #browser::before {
        opacity: 1 !important;
        background: var(--latte-base) !important;
      }

      @media -moz-pref("natsumi.theme.gray-out-when-inactive") {
        &:-moz-window-inactive {
          body::after {
            background: var(--latte-mantleO) !important;
          }
        }
      }
    }
    /* Pop-up Menus */
    panel {
      --panel-background: var(--latte-mantleT) !important;
      transition: opacity 0.2s ease !important;
    }

    /* ==== Accent colors: Latte ==== */

    @media -moz-pref("natsumi.theme.accent-color", "rosewater") {
      * {
        --natsumi-custom-primary-color: var(--latte-rosewater);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "flamingo") {
      * {
        --natsumi-custom-primary-color: var(--latte-flamingo);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "pink") {
      * {
        --natsumi-custom-primary-color: var(--latte-pink);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "mauve") {
      * {
        --natsumi-custom-primary-color: var(--latte-mauve);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "red") {
      * {
        --natsumi-custom-primary-color: var(--latte-red);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "maroon") {
      * {
        --natsumi-custom-primary-color: var(--latte-maroon);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "peach") {
      * {
        --latte-natsumi-custom-primary-color: var(--latte-peach);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "yellow") {
      * {
        --natsumi-custom-primary-color: var(--latte-yellow);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "green") {
      * {
        --natsumi-custom-primary-color: var(--latte-green);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "teal") {
      * {
        --natsumi-custom-primary-color: var(--latte-teal);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "sky") {
      * {
        --natsumi-custom-primary-color: var(--latte-sky);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "sapphire") {
      * {
        --natsumi-custom-primary-color: var(--latte-sapphire);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "blue") {
      * {
        --natsumi-custom-primary-color: var(--latte-blue);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "lavender") {
      * {
        --natsumi-custom-primary-color: var(--latte-lavender);
      }
    }
  }
}