/* ==== Pallette: Mocha ==== */
@media -moz-pref("natsumi.theme.type", "mocha") { {
  --rosewater: var(rgb(245, 224, 220));
  --flamingo: var(rgb(242, 205, 205));
  --pink: var(rgb(245, 194, 231));
  --mauve: var(rgb(203, 166, 247));
  --red:  var(rgb(243, 139, 168));
  --maroon: var(rgb(235, 160, 172));
  --peach: var(rgb(250, 179, 135));
  --yellow: var(rgb(249, 226, 175));
  --green:  var(rgb(166, 227, 161));
  --teal: var(rgb(148, 226, 213));
  --sky: var(rgb(137, 220, 235));
  --sapphire: var(rgb(116, 199, 236));
  --blue: var(rgb(137, 180, 250));
  --lavender: var(rgb(180, 190, 254));
  --text: var(rgb(205, 214, 244));
  --subtext1: var(rgb(186, 194, 222));
  --subtext0: var(rgb(166, 173, 200));
  --overlay2: var(rgb(147, 153, 178));
  --overlay1: var(rgb(127, 132, 156));
  --overlay0: var(rgb(108, 112, 134));
  --surface2: var(rgb(88, 91, 112));
  --surface1: var(rgb(69, 71, 90));
  --surface0: var(rgb(49, 50, 68));
  --base: var(rgba(30, 30, 46, 0.2));
  --mantleT: var(rgba(24, 24, 37, 0.97));
  --mantleO: var(rgb(24, 24, 37));
  --crust: var(rgb(17, 17, 27));


  /* ==== Theme: Mocha ==== */

    :root[windowtype*="navigator:browser"] {
      body::after {
        opacity: 1 !important;
        background: var(--base) !important;
      }

      #browser::before {
        opacity: 1 !important;
        background: var(--base) !important;
      }

      @media -moz-pref("natsumi.theme.gray-out-when-inactive") {
        &:-moz-window-inactive {
          body::after {
            background: var(--mantleO) !important;
          }
        }
      }
    }
    /* Pop-up Menus */
    panel {
      --panel-background: var(--mantleT) !important;
      transition: opacity 0.2s ease !important;
    }

    /* ==== Accent colors: Mocha ==== */

    @media -moz-pref("natsumi.theme.accent-color", "rosewater") {
      * {
        --natsumi-custom-primary-color: var(--rosewater);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "flamingo") {
      * {
        --natsumi-custom-primary-color: var(--flamingo);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "pink") {
      * {
        --natsumi-custom-primary-color: var(--pink);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "mauve") {
      * {
        --natsumi-custom-primary-color: var(--mauve);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "red") {
      * {
        --natsumi-custom-primary-color: var(--red);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "maroon") {
      * {
        --natsumi-custom-primary-color: var(--maroon);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "peach") {
      * {
        --natsumi-custom-primary-color: var(--peach);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "yellow") {
      * {
        --natsumi-custom-primary-color: var(--yellow);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "green") {
      * {
        --natsumi-custom-primary-color: var(--green);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "teal") {
      * {
        --natsumi-custom-primary-color: var(--teal);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "sky") {
      * {
        --natsumi-custom-primary-color: var(--sky);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "sapphire") {
      * {
        --natsumi-custom-primary-color: var(--sapphire);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "blue") {
      * {
        --natsumi-custom-primary-color: var(--blue);
      }
    }

    @media -moz-pref("natsumi.theme.accent-color", "lavender") {
      * {
        --natsumi-custom-primary-color: var(--lavender);
      }
    }
  }
}