/* ==== Theme: Mocha ==== */
@media -moz-pref("natsumi.theme.type", "mocha") {
    :root[windowtype*="navigator:browser"] {
      body::after {
        opacity: 1 !important;
        background: var(--base) !important;
      }

      #browser::before {
        opacity: 1 !important;
        background: var(--base) !important;
      }

      @media -moz-pref("natsumi.theme.gray-out-when-inactive") {
        &:-moz-window-inactive {
          body::after {
            background: var(--mantleO) !important;
          }
        }
      }
    }
    /* Pop-up Menus */
    panel {
      --panel-background: var(--mantleT) !important;
      transition: opacity 0.2s ease !important;
    }
}