/* ==== Theme: Mocha ==== */
@media -moz-pref("natsumi.theme.type", "mocha") {
  :root[windowtype*="navigator:browser"] {
    body::after {
      opacity: 1 !important;
      background: rgba(30, 30, 46, 0.2) !important;
    }

    #browser::before {
      opacity: 1 !important;
      background: rgba(30, 30, 46, 0.2) !important;
    }

    @media -moz-pref("natsumi.theme.gray-out-when-inactive") {
      &:-moz-window-inactive {
        body::after {
          background: rgb(24, 24, 37) !important;
        }
      }
    }
  }
  /* Pop-up Menus */
  panel {
    --panel-background: rgba(24, 24, 37, 0.97) !important;
    transition: opacity 0.2s ease !important;
  }
}
